# Ignorar ambientes virtuais
venv/
.env
*.env

# Ignorar arquivos temporários de sistema
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Ignorar arquivos e diretórios do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos do editor
.vscode/
.idea/

# Ignorar arquivos de testes ou dados
*.csv
*.xlsx
*.docx
*.pdf
/media/*
Leia-me.txt