# Ambiente virtual
venv/
.venv/

# Arquivos de configuração local
*.pyc
__pycache__/
*.sqlite3
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários de editor
.vscode/
.idea/

# Arquivos de migração opcionais (se desejar evitar conflitos)
**/migrations/*.py
!**/migrations/__init__.py

# Arquivos ou pastas particulares
Leia-me.txt
media/